<%= form_with(model: @treatment, local: true) do |f| %>
<% if @treatment.errors.any? %>
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <div id="error_explanation">
    <h2>Verifique os erros e tente novamente:</h2>

    <ul>
      <% @treatment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :appointment_id %>
    <%= f.select :appointment_id, options_for_select(appointments_for_select(current_user)), {}, class: 'form-control' %>
  </div>

  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :user_id%>
    <%= f.select :user_id, options_for_select(user_patient_for_select(current_user)), {}, class: 'form-control' %>
  </div>

  <div class="field col-12 mt-3">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :place %>
    <%= f.text_field :place, class: "form-control" %>
  </div>

  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :kind %>
    <%= f.select :kind, options_for_select(treatment_kinds_for_select()),{},  class: "form-control" %>
  </div>

  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :date %>
    <%= f.datetime_field :date, class: "form-control" %>
  </div>


  <div class="field col-12 col-md-4 mt-3 ">
    <%= f.file_field :documents, multiple: false %>
  </div>




</div>
<div class="row">
  <div class="col-12 mt-5 text-center">
    <div class="actions btn-group">
      <%= link_to treatments_path, :class => "btn btn-outline-secondary text-uppercase" do %>
      <%= icon('fas', 'arrow-circle-left', 'Voltar', class: 'strong') %>
      <% end %>
      <%= f.button icon('fas', 'save', 'salvar', class: 'strong'), class: "btn btn-success text-uppercase" %>
    </div>
  </div>
</div>
<% end %>
