<p>
  <strong>Appointment:</strong>
  <%= @treatment.appointment_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @treatment.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @treatment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @treatment.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @treatment.place %>
</p>

<p>
  <strong>Date:</strong>
  <%= @treatment.date %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @treatment.kind %>
</p>

<%= link_to treatments_path, :class => "btn btn-outline-secondary text-uppercase" do %>
  <%= icon('fas', 'arrow-circle-left', 'Voltar', class: 'strong') %>
<% end %>
