<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Cadastrar uma conta!</h1>
              </div>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'user'}) do |f| %>

                  <%= render "devise/shared/error_messages", resource: resource %>

                  <div class="form-group">
                    <%= f.text_field :name, autofocus: true, autocomplete: "email", class: "form-control form-control-user", id:"exampleFirstName", placeholder: "Informe seu nome" %>
                  </div>

                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", id: "exampleInputEmail", placeholder: "Informe seu e-mail" %>
                  </div>

                  <div class="form-group">
                    <%= f.text_field :birthdate, onfocus:"(this.type='date')", autofocus: true, autocomplete: "birthdate", class: "form-control form-control-user", id:"exampleFirstBirthdate", placeholder: "Informe sua data nascimento" %>
                  </div>
                  
                  <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        
                        <%= f.password_field :password, autocomplete: "Senha", class: "form-control form-control-user", id: "exampleInputPassword", placeholder: "Senha" %>
                        <% if @minimum_password_length %>
                        <em>(minimo <%= @minimum_password_length %> caracteres)</em>
                        <% end %><br />
                      </div>
                      <div class="col-sm-6">
                        <%= f.password_field :password_confirmation, autocomplete: "Repetir Senha", class: "form-control form-control-user", id: "exampleRepeatPassword", placeholder: "Repetir a Senha" %>
                      </div>
                  </div>

                  <div class="actions">
                    <%= f.submit "Cadastrar Conta", class: "btn btn-primary btn-user btn-block" %>
                  </div>
                <% end %>

              <hr>

              <%= render "devise/shared/links" %>

            </div>
          </div>
        </div>
      </div>
    </div>

</div>


