<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= root_path %>">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laptop-medical"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="<%= root_path %>">
      <i class="fas fa-fw fa-home"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Menu Geral Informações
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <% active_appointments = active_link?(includes: ["appointments"]) %>
  <% active_exams = active_link?(includes: ["exams"]) %>
  <% active_treatments = active_link?(includes: ["treatments"]) %>

  <%= nav_context :appointments, "Consultas", icon: "file", active_link: active_appointments do %>
    <h6 class="collapse-header">Informação Consulta:</h6>
    <%= active_link_to "Listar Consultas", appointments_path(), class: "collapse-item" %>
    <%= active_link_to "Cadastrar Consultas", new_appointment_path(), class: "collapse-item" %>
  <% end %>

  <!-- Nav Item - Exams Collapse Menu -->
  <%= nav_context :exams, "Exames", icon: "file-medical", active_link: active_exams do %>
    <h6 class="collapse-header">Informação Exames:</h6>
    <%= active_link_to "Listar Exames", exams_path(), class: "collapse-item" %>
    <%= active_link_to "Cadastrar Exames", new_exam_path(), class: "collapse-item" %>
  <% end %>

  <!-- Nav Item - Treatments Collapse Menu -->
  <%= nav_context :treatments, "Tratamentos", icon: "notes-medical", active_link: active_treatments do %>
    <h6 class="collapse-header">Informação Tratamentos:</h6>
    <%= active_link_to "Listar Tratamentos", treatments_path(), class: "collapse-item" %>
    <%= active_link_to "Cadastrar Tratamentos", new_treatment_path(), class: "collapse-item" %>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Outras Informações
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <%= nav_context :history, "Meu Histórico", icon: "file-alt" do %>
    <h6 class="collapse-header">Login Screens:</h6>
    <%= active_link_to "Login", root_path(), class: "collapse-item" %>
    <%= active_link_to "Register", root_path(), class: "collapse-item" %>
    <%= active_link_to "Forgot Password", root_path(), class: "collapse-item" %>
    <div class="collapse-divider"></div>
    <h6 class="collapse-header">Other Pages:</h6>
    <%= active_link_to "404 Page", root_path(), class: "collapse-item" %>
    <%= active_link_to "Blank Page", root_path(), class: "collapse-item" %>
  <% end %>

  <!-- Nav Item - Charts -->
  <li class="nav-item <%= add_active_class(root_path()) %>">
    <a class="nav-link" href="<%= root_path() %>">
      <i class="fas fa-fw fa-share"></i>
      <span>Históricos Compartilhados</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Informações Extras
  </div>

  <%= nav_context :users, "Usuários", icon: "file", active_link: active_appointments do %>
    <h6 class="collapse-header">Informação Usuário:</h6>
    <%= active_link_to "Listar Usuários", users_path(), class: "collapse-item" %>
    <%= active_link_to "Cadastrar Usuário", new_user_path(), class: "collapse-item" %>
  <% end %>  

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
