<div class="container-fluid">

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Dashboard</a>
		</li>
		<li class="breadcrumb-item active">Home</li>
	</ol>

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
	</div>

	<!-- Nav Item - Pages Collapse Menu -->
  <% active_appointments = active_link?(includes: ["appointments"]) %>
  <% active_exams = active_link?(includes: ["exams"]) %>
  <% active_treatments = active_link?(includes: ["treatments"]) %>

	<!-- Content Row -->
	<div class="row">

		<!-- Pending Requests Card Example -->
		<div class="col-xl-4 col-md-6 mb-4">
			<div class="card border-left-secondary shadow h-100">
				<div class="card-body">
					<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
						<%= active_link_to "Últimas Consultas", appointments_path(), class: "collapse-item" %>
					</div>
				</div>
				

				<% @appointments.each do |appointment| %>

					<div class="my-0 py-2 card-body <%= cycle("bg-light", "") %> align-top">
						<p class="text-muted my-0">
							<%= appointment.title %>
						</p>
						<span class="text-xs pt-0">
							<%= appointment.date.try(:strftime, "%d/%m/%Y" ) %>
						</span>
					</div>
					<%end %>

			</div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-4 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100">
				<div class="card-body">
					<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
						<%= active_link_to "Últimos Exames", exams_path(), class: "collapse-item" %>
					</div>
				</div>

				<% @exams.each do |exam| %>

					<div class="my-0 py-2 card-body <%= cycle("bg-light", "") %> align-top">
						<p class="text-muted my-0">
							<%= exam.name %>
						</p>
						<span class="text-xs pt-0">
							<%= exam.date.try(:strftime, "%d/%m/%Y" ) %>
						</span>
					</div>
					<%end %>
			</div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-4 col-md-6 mb-4">
			<div class="card border-left-secondary shadow h-100">
				<div class="card-body">
					<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
						<%= active_link_to "Últimos Tratamentos", treatments_path(), class: "collapse-item" %>
					</div>
				</div>

				<% @treatments.each do |treatment| %>

					<div class="my-0 py-2 card-body <%= cycle("bg-light", "") %> align-top">
						<p class="text-muted my-0">
							<%= treatment.title %>
						</p>
						<span class="text-xs pt-0">
							<%= treatment.date.try(:strftime, "%d/%m/%Y" ) %>
						</span>
					</div>
					<%end %>
			</div>
		</div>

	</div>

	<!-- General Search Table Row -->
	<div class="row">
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow mb-4">

			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Busca Geral</h6>
			</div>

			<div class="card-body">

            <div class="row">
              <div class="col-12">
                <div class= "table-responsive">
                  <table class="table table-hover data-table nowrap w-100">
                    <thead>
                      <tr>
                        <th>Tipo</th>
                        <th>Título</th>
                        <th>Data</th>
                        <th colspan="1"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @all.each do |all| %>
                        <tr>
                          <td class="align-middle"><%= all["tipo"] %></td>
                          <td class="align-middle"><%= all["titulo"] %></td>
                          <td class="align-middle"><%= all["data"] %></td>
                          <td class="align-middle text-center">
													
                            <%= link_to all["link"], :class => "text-info uppercase" do %>
                              <%= icon('fas', 'search') %>
                            <% end %>
														
                          </td>
                        </tr>
                      <% end %>

                    </tbody>
                  </table>

                </div>
              </div>
          </div>

				
			</div>
		</div>
	</div>

	<!-- Content Row -->
	<div class="row">

		<div class="col-xl-12 col-lg-6 mb-4">

			<!-- Illustrations -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Heath History o que é?</h6>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg"
							alt="">
					</div>
					<p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
							href="https://undraw.co/">unDraw</a>, a
						constantly updated collection of beautiful svg images that you can use
						completely free and without attribution!</p>
					<a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
						unDraw →</a>
				</div>
			</div>

			<!-- Approach -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Como funciona Heath History</h6>
				</div>
				<div class="card-body">
					<p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
						CSS bloat and poor page performance. Custom CSS classes are used to create
						custom components and custom utility classes.</p>
					<p class="mb-0">Before working with this theme, you should become familiar with the
						Bootstrap framework, especially the utility classes.</p>
				</div>
			</div>

		</div>

		<div class="col-xl-12 col-lg-6 mb-4">

			<!-- Illustrations -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Quais os requisitos para usar Heath History</h6>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg"
							alt="">
					</div>
					<p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
							href="https://undraw.co/">unDraw</a>, a
						constantly updated collection of beautiful svg images that you can use
						completely free and without attribution!</p>
					<a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
						unDraw →</a>
				</div>
			</div>

			<!-- Approach -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Suporte Heath History</h6>
				</div>
				<div class="card-body">
					<p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
						CSS bloat and poor page performance. Custom CSS classes are used to create
						custom components and custom utility classes.</p>
					<p class="mb-0">Before working with this theme, you should become familiar with the
						Bootstrap framework, especially the utility classes.</p>
				</div>
			</div>

		</div>
	</div>

</div>

<!--
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%#= link_to  "Teste", home_index_path(), class: 'btn btn-primary' %>
-->