<%= form_with(model: @shared_history, local: true) do |f| %>
  <% if @shared_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shared_history.errors.count, "error") %> prohibited this shared_history from being saved:</h2>

      <ul>
        <% @shared_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col-12 col-md-4 mt-3">
    <%= f.label :shared_user_id %>
    <%= f.text_field :shared_user_id, class: "form-control" %>
  </div>

    <div class="field col-12 col-md-4 mt-3">
    <%= f.label :owner_user_id %>
    <%= f.text_field :owner_user_id, class: "form-control" %>
  </div>

    <div class="field col-12 col-md-4 mt-3">
    <%= f.label :appointment_id %>
    <%= f.text_field :appointment_id, class: "form-control" %>
  </div>

    <div class="field col-12 col-md-4 mt-3">
    <%= f.label :expiration_date %>
    <%= f.datetime_select :expiration_date, class: "form-control" %>
  </div>

  </div>
  <div class="row">
    <div class="col-12 text-center mt-5">
      <div class="actions btn-group">
        <%= link_to shared_histories_path, :class => "btn btn-outline-primary text-uppercase" do %>
          <%= icon('fas', 'arrow-circle-left', 'Voltar', class: 'strong') %>
        <% end %>
        <%= f.button icon('fas', 'save', 'salvar', class: 'strong'), class: "btn btn-primary text-uppercase" %>
      </div>
    </div>
  </div>
<% end %>
