<%= form_with(model: @appointment, local: true) do |f| %>
<% if @appointment.errors.any? %>
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <div id="error_explanation">
    <h2>Verifique os erros e tente novamente:</h2>

    <ul>
      <% @appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>


  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :health_professional_user_id, "Profissional da saúde" %>
    <%= f.collection_select(:health_professional_user_id, User.where(kind: :health_professional), :id, :name, { include_blank: 'Selecione um profissional da saúde' }, class: "form-control") %>
  </div>


  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :patient_user_id, "Paciente" %>
    <%= f.collection_select(:patient_user_id, User.where(kind: :patient), :id, :name, { include_blank: 'Selecione um paciente' }, class: "form-control") %>
  </div>


  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :date, "Data" %><br>
    <%= f.datetime_field :date, class: "form-control" %>
  </div>


  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :return_date, "Data de retorno" %><br>
    <%= f.datetime_field :return_date, class: "form-control" %>
  </div>



  <div class="field col-12 col-md-4 mt-3">
    <%= f.label :prescriptions, "Prescrições" %>
    <%= f.file_field :prescriptions, multiple: true, class: 'form-control'%>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-5">
    <div class="actions btn-group">
      <%= link_to appointments_path, :class => "btn btn-outline-secondary text-uppercase" do %>
      <%= icon('fas', 'arrow-circle-left', 'Voltar', class: 'strong') %>
      <% end %>
      <%= f.button icon('fas', 'save', 'salvar', class: 'strong'), class: "btn btn-success text-uppercase" %>
    </div>
  </div>
  <% end %>