<section id="home-appointments">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <span class="float-right">
              <%= link_to "Adicionar #{ @appointments.model_name.human }", new_appointment_path(), class: "btn btn-outline-secondary btn-sm text-uppercase float-right"%>
            </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class= "table-responsive">
                  <table class="table table-striped table-bordered data-table nowrap w-100">
                    <thead>
                      <tr>
                        <th colspan="1"></th>
                        <th>Title</th>
                        <th>Health professional user</th>
                        <th>Patient user</th>
                        <th>Date</th>
                        <th>Return date</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @appointments.each do |appointment| %>
                        <tr>
                          <td class="align-middle text-center">
                            <%= link_to edit_appointment_path(appointment), :class => "text-info uppercase" do %>
                              <%= icon('fas', 'pencil-alt', class: 'strong') %>
                            <% end %>
                            <%= link_to appointment, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "text-danger uppercase ml-4" do %>
                              <%= icon('fas', 'trash', class: 'strong') %>
                            <% end %>
                          </td>
                        <td class="align-middle"><%= appointment.title %></td>
                        <td class="align-middle"><%= appointment.health_professional_user %></td>
                        <td class="align-middle"><%= appointment.patient_user %></td>
                        <td class="align-middle"><%= appointment.date %></td>
                        <td class="align-middle"><%= appointment.return_date %></td>
                        </tr>


                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


