<section id="home-exams">
  <div class="container-fluid">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Exames", exams_path %>
      </li>
      <li class="breadcrumb-item active">Listar Exames</li>
    </ol>

    <div class="row mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <span class="float-right">
              <%= link_to "Adicionar #{@exams.model_name.human}", new_exam_path, class: "btn btn-outline-success btn-sm text-uppercase float-right"%>
            </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class= "table-responsive">
                  <table class="table table-hover data-table nowrap w-100">
                    <thead>
                      <tr>
                        <th>Paciente</th>
                        <th>Consulta</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Local</th>
                        <th colspan="1"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @exams.each do |exam| %>
                        <tr>
                          <td class="align-middle"><%= exam.user.name %></td>
                          <td class="align-middle"><%= exam.appointment.title %></td>
                          <td class="align-middle"><%= exam.name %></td>
                          <td class="align-middle"><%= exam.description %></td>
                          <td class="align-middle"><%= exam.date.strftime('%d/%m/%Y %H:%M') %></td>
                          <td class="align-middle"><%= exam.place %></td>
                          <td class="align-middle text-center">
                            <%= link_to edit_exam_path(exam), :class => "text-info uppercase" do %>
                              <%= icon('fas', 'pencil-alt', class: 'strong') %>
                            <% end %>
                            <%= link_to exam, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "text-danger uppercase ml-4" do %>
                              <%= icon('fas', 'trash', class: 'strong') %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>

                  <%= "Nenhum exame encontrado!" if @exams.blank? %>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


