<p>
  <strong>User:</strong>
  <%= @exam.user_id %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @exam.appointment_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @exam.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exam.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exam.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @exam.place %>
</p>

<%= link_to exams_path, :class => "btn btn-outline-secondary text-uppercase" do %>
  <%= icon('fas', 'arrow-circle-left', 'Voltar', class: 'strong') %>
<% end %>
