<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <p class="mb-0 text-uppercase gray float-right">Exame <%= @exam.name %></p>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-12">
              <p>
                <strong>Paciente:</strong>
                <%= @exam.user.name %>
              </p>

              <p>
                <strong>Consulta:</strong>
                <%= @exam.appointment.title %>
              </p>

              <p>
                <strong>Nome:</strong>
                <%= @exam.name %>
              </p>

              <p>
                <strong>Descrição:</strong>
                <%= @exam.description %>
              </p>

              <p>
                <strong>Data:</strong>
                <%= @exam.date.strftime('%d/%m/%Y %H:%M') %>
              </p>

              <p>
                <strong>Local:</strong>
                <%= @exam.place %>
              </p>

              <p>
                <strong>Documentos:</strong>
                <% @exam.documents.each do |document| %>
                  <%= link_to document.filename, url_for(document) %>
                <% end %>
              </p>
            </div>
          </div>

          <%= link_to exams_path, :class => "btn btn-outline-secondary text-uppercase" do %>
            <%= icon('fas', 'arrow-circle-left', 'Voltar', class: 'strong') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
